*{
    cursor: cell;
    font-family: 'Open Sans', sans-serif;
}

body{
    margin-left: 20px;
    margin-top: 20px;
    background-image: url(background.png);
}

text{
    color: #2C3A47;
    font-size: 20px;
}

p{
    color: #1e272e;
    font-size: 16px;
}

.icon_1{
    width: 50px;
    transition: 0.5s;
}
.icon_2{
    margin-left: 10px;
    width: 50px;
    transition: 0.5s;
}
.icon_3{
    margin-left: 10px;
    width: 50px;
    transition: 0.5s;
}
.icon_4{
    margin-left: 10px;
    width: 50px;
    transition: 0.5s;
}
.icon_5{
    margin-left: 10px;
    width: 50px;
    transition: 0.5s;
}

.icon_1:hover{
    transition: 0.5s;
    opacity: 0.5;
    width: 55px;
}
.icon_2:hover{
    transition: 0.5s;
    opacity: 0.5;
    width: 55px;
}
.icon_3:hover{
    transition: 0.5s;
    opacity: 0.5;
    width: 55px;
}
.icon_4:hover{
    transition: 0.5s;
    opacity: 0.5;
    width: 55px;
}
.icon_5:hover{
    width: 55px;
    transition: 0.5s;
    opacity: 0.5;
}


@media screen and (max-width: 700px){
    p{
        font-size: 16px;
    }
}